<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Alumnos</a>
        </div>
      </nav>
</header>

<body>
    
    <router-outlet></router-outlet>


</body>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mt-4">
                    &copy; Copyright 2022 - Alumnos
                </p>
            </div>
        </div>
    </div>
</footer>